body {
	background: #101010;
	color: #FFFFFF;
	font-family: 'Trebuchet MS';
	font-size: 24px;
	margin: 5px;
}

canvas {
	border: solid white 1px;
	padding: 0px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
}